<!-- component -->
<div class="bg-gray-100 dark:bg-gray-800 transition-colors duration-300">
  <div class="container mx-auto p-4">
    <div class="bg-white dark:bg-gray-700 shadow rounded-lg p-6">
      <h1 class="text-xl font-semibold mb-4 text-gray-900 dark:text-gray-100">
        Datos a ingresar
      </h1>
      <form>
        <div class="mb-4 max-w-xs">
          <!--max-w-xs, max-w-sm, max-w-md-->
          <label
            for="role"
            class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
            >Rol:</label
          >
          <select
            id="role"
            name="role"
            class="border p-2 rounded w-full"
            required
          >
            <option value="">Selecciona un rol</option>
            <option value="admin">Administrador</option>
            <option value="paciente">Paciente</option>
            <option value="medico">Médico</option>
          </select>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Nro. de Licencia -->
          <div class="mb-4">
            <label
              for="license-number"
              class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
              >Nro. de licencia:</label
            >
            <input
              id="license-number"
              type="text"
              name="license_number"
              placeholder="Número de licencia"
              class="border p-2 rounded w-full"
              required
            />
          </div>
          <!-- Nombre Completo hidden -->
          <div class="mb-4">
            <label
              for="full-name"
              class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
              >Nombre Completo:</label
            >
            <input
              id="full-name"
              type="text"
              name="full_name"
              placeholder="Nombre completo"
              class="border p-2 rounded w-full"
              required
            />
          </div>

          <!-- Direccion -->
          <div class="mb-4">
            <label
              for="license-number"
              class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
              >Direccion:</label
            >
            <input
              id="license-number"
              type="text"
              name="license_number"
              placeholder="Direccion"
              class="border p-2 rounded w-full"
              required
            />
          </div>

          <!-- Email -->
          <div class="mb-4">
            <label
              for="email"
              class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
              >Email:</label
            >
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Email"
              class="border p-2 rounded w-full"
              required
            />
          </div>
          <div class="mb-4">
            <label
              for="email"
              class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
              >Password:</label
            >
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Password"
              class="border p-2 rounded w-full"
              required
            />
          </div>

          <!-- Dirección -->
          <div class="mb-4">
            <label
              for="street-address"
              class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
              >Dirección:</label
            >
            <input
              id="street-address"
              type="text"
              name="street_address"
              placeholder="Dirección de la calle"
              class="border p-2 rounded w-full"
              required
            />
          </div>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="mb-4">
              <label
                for="city"
                class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
                >Ciudad:</label
              >
              <input
                id="city"
                type="text"
                name="city"
                placeholder="Ciudad"
                class="border p-2 rounded w-full"
                required
              />
            </div>
            <div class="mb-4">
              <label
                for="state"
                class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
                >Estado / Provincia:</label
              >
              <input
                id="state"
                type="text"
                name="state"
                placeholder="Estado o Provincia"
                class="border p-2 rounded w-full"
                required
              />
            </div>
            <div class="mb-4">
              <label
                for="postal-code"
                class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
                >Código Postal:</label
              >
              <input
                id="postal-code"
                type="text"
                name="postal_code"
                placeholder="Código postal"
                class="border p-2 rounded w-full"
                required
              />
            </div>
          </div>
        </div>

        <!-- Botón de envío al lado izquierdo -->
        <div class="mt-6">
          <button
            type="submit"
            class="px-8 py-2 rounded bg-blue-500 text-white hover:bg-blue-600 focus:outline-none transition-colors"
          >
            Crear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
